<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DesenvolvimentoWebCRUD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DesenvolvimentoWebCRUD.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Home", "Home")" >Mini E-commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a type="button" href="@Url.Action("Home", "Home")" class="btn btn-light">Home</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" href="@Url.Action("CatalogoProdutos", "Home")" class="btn btn-light">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="btn btn-light">Carrinho</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" href="@Url.Action("TelaLogin", "VerificacaoUsuario")" class="btn btn-light">Fazer Login</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" href="@Url.Action("AdicionarProduto", "Home")" class="btn btn-primary">Anunciar Produto</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light text-center py-3">
        <p>&copy; 2024 Mini E-commerce. Todos os direitos reservados.</p>
        <a href="#" class="text-decoration-none">Termos de Uso</a> | 
        <a href="#" class="text-decoration-none">Política de Privacidade</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
